@use '../template.scss' as t;

.spawnmenu
{
  width: 100%;
  height: 120px;
  background-color: t.$panel1;
  position: absolute;
  bottom:0;
  pointer-events: fill;
  display: flex;
  justify-content: center;
  align-items: center;

}
