@use '../../template.scss' as t;
@use 'sass:color';


@mixin outline($col) {
  text-shadow:
   -1px -1px 0 $col,
    1px -1px 0 $col,
    -1px 1px 0 $col,
     1px 1px 0 $col;
}

@mixin buttonize()
{
  user-select: none;

  &:hover
  {
    // background-color: t.$col1_h;
    filter:brightness(120%) contrast(120%);
  }

  &:active
  {
    // background-color: t.$col1_h;
    filter:brightness(80%) contrast(150%);
  }
}

.spawn-item
{

  position: relative;

  width: 80px;
  height: 80px;
  margin:2px;
  padding:4px;

  border-width: 4px;
  border-style: groove;
  border-color: t.$outline1;

  background-color: color.scale(t.$col1,$blackness:50%);

  color:t.$text1;
  font-weight: 800;
  font-size: large;
  @include outline(t.$outline1);

  @include buttonize();

  .unit-progress
  {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: t.$col1;
  }

  .unit-name
  {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
  }

  .unit-cost
  {
    position: absolute;
  }

  &:not(:hover) .unit-upgrades-container
  {
    display: none;
  }

  .unit-upgrades-container
  {
    position:absolute;
    width: 0;
    left:50%;
    top:0;
    pointer-events: auto;


    .unit-upgrades
    {
      position: absolute;
      left:0;
      transform: translateX(-50%) translateY(calc(-100% - 16px));
      background-color: white;
      padding:8px;
      border-radius: 8px;
      border: 1px solid black;
      margin-bottom: 16px;
      pointer-events: all;

      &::after // Hover doesn't work over margin, so we create a filler object over the margin area
      {
        content: '';
        position: absolute;
        left:0;
        bottom:-16px;
        height: 16px;
        width: 100%;
        pointer-events: all;
      }

    }
  }


  &.inactive
  {
    // pointer-events: none;
    filter: saturate(0%);
  }
}
