@use '../../template.scss' as t;

@mixin outline($col) {
  text-shadow:
   -1px -1px 0 $col,
    1px -1px 0 $col,
    -1px 1px 0 $col,
     1px 1px 0 $col;
}

@mixin buttonize()
{
  user-select: none;

  &:hover
  {
    // background-color: t.$col1_h;
    filter:brightness(120%) contrast(120%);
  }

  &:active
  {
    // background-color: t.$col1_h;
    filter:brightness(80%) contrast(150%);
  }
}

.spawn-item
{

  position: relative;

  width: 80px;
  height: 80px;
  margin:2px;
  padding:4px;

  border-width: 4px;
  border-style: groove;
  border-color: t.$outline1;

  background-color: t.$col1;

  color:t.$text1;
  font-weight: 800;
  font-size: large;
  @include outline(t.$outline1);

  @include buttonize();

  .unit-progress
  {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    background-color: hotpink;
  }

  .unit-name
  {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    text-align: center;
  }

  .unit-cost
  {
    position: absolute;
  }


  &.inactive
  {
    pointer-events: none;
    filter: saturate(0%);
  }
}
